* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}
ul {
  list-style: none;
}
h1,
h2,
h3 h4 {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("/back.png") no-repeat center center/cover;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}
.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}
.showcase-top img {
  width: 170px;
  position: absolute;
  left: 45%;
}
.showcase-top a {
  position: absolute;
  right: 2%;
  top: 40%;
}
.showcase-content {
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  z-index: 2;
}
.showcase-content h1 {
  font-size: 5rem;
  line-height: 1;
  margin: 0 0 2rem;
}
.showcase-content p {
  text-transform: uppercase;
  color: white;
  margin: 0 0 2rem;
  font-size: 2 rem;
}

.btn {
  display: inline-block;
  color: white;
  background: red;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
  padding: 0.4rem 1.3rem;
}
.btn:hover {
  opacity: 0.9;
}
.btn-rounded {
  border-radius: 5px;
}
.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}
.part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  border-bottom: 0.6rem solid #111;
  padding: 2rem 4rem;
}
.part .talk {
  width: 45%;
}
.part .img {
  width: 40%;
}
.part .talk h1 {
  font-size: 3.3rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.part .talk p {
  font-size: 1.7rem;
}
.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
  padding: 2rem 4rem;
}
.part2 .talk {
  width: 48%;
}
.part2 .talk h1 {
  font-size: 3.3rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.part2 .talk p {
  font-size: 1.7rem;
}
.part2 .img {
  width: 45%;
}
.part2 .img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
  }
  p {
    margin: 0.5rem 0;
  }
  img {
    width: 100%;
  }
}
